boto3==1.21.0
kfp==1.8.13
kserve==0.9.0
mlflow>=1.2.0,<1.26.0
mlserver-mlflow>=0.5.3
mlserver>=0.5.3
s3fs==2022.3.0
sagemaker==2.82.2
scikit-learn
torch-model-archiver
git+https://github.com/zenml-io/zenml.git@bugfix/ENG-1458-fix-sync-issues
