pip-tools
zenml>=0.55.2
pdfkit
mlflow==2.11.3
deepchecks==0.9.0
pandas==1.5.3
scikit-learn==1.3.2
pytorch-ignite
opencv-python
albumentations
imgaug
imagehash
# pytorch-cpu
--index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio